body {background:#ffffff;margin:10px;padding:0}
h1,h2,h3 {font-family:Helvetica,Verdana,sans-serif;padding:0;margin:0}
h3.directory {font-size:18px;float:left;width:auto}
h2.deviceName {font-size:20px;float:right;text-align:right;width:auto}
a {text-decoration: none;color:#000000}
span.dirname {font-family:Helvetica,Verdana,sans-serif;font-size:14px;font-weight:bold}
.share {font-size:16px;color:#ff0000}
span.filesize {font-size:12px;color:#666666}
#content {font-family:Geneva,Arial,Helvetica,sans-serif;font-size: 12px;font-weight:normal;color: #666666;width:400px;padding:5px;margin:0}
.sbtn {height:22px;width:82px;font-family:Geneva,Arial,Helvetica,sans-serif;font-size:12px;padding:0;margin:0}
#mform {font-family:Geneva,Arial,Helvetica,sans-serif;font-size:12px;font-weight:normal;color:#666666}
ul {display:block;clear:left;list-style-type:circle}
li {color:#666666}